.page-header{
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: rgba(146, 157, 154, 0.3) 0px 4px 10px 0px;
}

.page-header
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: initial;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 68px;
  flex: initial;
  margin: 0px auto
}

.page-header
.navbar-menu{
  margin-right: auto;
}


.page-header
.navbar
.logo{
  display: inherit;
  height: 68px;
  width: 140px;
}
.page-header
.navbar
.logo >img{
  width: 48px;
}

.page-header
.navbar
.download-login{
  display: none;
}

.page-header
.navbar
.navbar-from{
  font-size: 14px;
  color: #4D555D !important;
}

.page-header
.navbar
.navbar-from > span{
  cursor: pointer;
}
.page-header
.navbar
.navbar-from > span:hover{
  color:#409EFF;
}

/*导航条样式*/
.el-menu--horizontal>.el-menu-item,.el-menu--horizontal>.el-submenu .el-submenu__title{
  height: 69px;
  line-height: 69px;
  font-size:14px;
  color: #4D555D !important;
  font-weight: 500;
}
.el-divider--vertical{
  margin: 0;
}

/* 小屏幕下应用的样式 */
@media only screen and (max-width:960px) {
  .page-header{
    box-shadow: none;
  }
  .page-header
  .navbar{
    background: #409EFF;
    box-shadow: none;
    height: 48px;
  }
  .page-header
  .navbar-menu{
    display: none;
  }
  .navbar .download-login{
    display: block;
    float: right;
    text-align: center;
    width: 3.44rem;
    height: .85333333rem;
    line-height: .85333333rem;
    background: rgba(242,13,13,.06);
    border-radius: .42666667rem;
  }
  .el-menu-demo{
    display: none;
  }
}

@media only screen and (max-width:1200px) and (min-width:960px) {
  .page-header
  .navbar{
    width: 940px;
  }
}

